.list-wrapper {

}


.board-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.board-select-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.board-select select{
    padding : 6px 5px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.board-select a {
    padding: 7.3px 5px;
    font-size: 14px;
    border:  1px solid #666;
    border-radius: 4px;
    color: #555;
    box-sizing: border-box;
}

.list-wrapper ul li{
    font-size: 14px;
    text-align: center;
    padding : 15px 2px;
    display: flex;
    font-weight: 300;
    border-bottom : 1px solid rgb(196, 194, 194);
    
}

.page-info {
    font-size: 13px;
}

.article-top {
    background-color: #4b7c81;
    color: white;
}

.article-num {
    width: 8%;   
}

.article-title {
    width: 50%;   
}

.article-writer {
    width: 11%;   
}

.article-count {
    width: 12%;   
}

.article-regdate {
    width: 15%;   
}

.article-like {
    width : 9%;   
}

.mobile-content-info {
    display: none;
}

.content {
    /* font-weight: bold; */
    text-align: left;
}


@media screen and (max-width : 680px) {

    .list-wrapper ul li{
        font-size: 16px;
    }

    .article-num {
        display: none;   
    }
    
    .article-title {
        width: 100%;
    }
    
    .article-writer {
        display: none;   
    }
    
    .article-count {
        display: none;   
    }
    
    .article-regdate {
        display: none;   
    }

    .article-like {
        display: none;   
    }

    .content {
        padding : 8px 10px;
        text-align: left;
        font-size: 15px;
    } 
    
    .mobile-content {
    
    }

    .mobile-content-info {
        display: block;
        margin-top : 10px;
        font-size: 13px;
        color : #333;
        font-weight: 300;
    }
}